<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <!--spring security 태그를 사용하기 위해 네임스페이스추가-->

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="header">
            <a class="navbar-brand" href="#">Spring Study</a>


            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <th:block th:with="currentUrl=${#httpServletRequest.requestURI}">
                    <li class="nav-item" th:classappend="${currentUrl == '/'}? 'active'">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>

                <!--    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/item/new}"
                        sec:authorize="hasAnyAuthority('ROLE_ADMIN')">상품등록</a> &lt;!&ndash;관리자 계정으로 로그인한 경우만 보여줌&ndash;&gt;
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/items}"
                           sec:authorize="hasAnyAuthority('ROLE_ADMIN')">상품관리</a>&lt;!&ndash;관리자 계정으로 로그인한 경우만 보여줌&ndash;&gt;
                    </li>-->

                    <!--<li class="nav-item">
                        <a class="nav-link" th:href="@{/cart}"
                           sec:authorize="isAuthenticated()">장바구니</a> &lt;!&ndash; 로그인 했을 경우만 보여줌&ndash;&gt;
                    </li>-->

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/apiExplorer}"
                           sec:authorize="isAuthenticated()">대전시 공연정보</a> <!--로그인 했을 경우만 보여줌-->
                    </li>


                    <li class="nav-item" th:classappend="${currentUrl == '/members/login'}? 'active'">
                        <a class="nav-link " th:href="@{/members/login}"
                        sec:authorize="isAnonymous()">로그인/회원가입</a> <!-- 로그인하지 않은 상태이면 로그인을 보여줌 -->
                    </li>

<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{/members/new}"-->
<!--                           sec:authorize="isAnonymous()">회원가입</a>-->
<!--                    </li>-->

<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{/members/new}">회원가입</a>-->
<!--                    </li>-->

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/members/logout}"
                           sec:authorize="isAuthenticated()">로그아웃</a> <!--로그인한 상태이면 로그아웃을 보여줌-->
                    </li>

                    </th:block>
                </ul>
<!--                <form class="form-inline my-2 my-lg-0">-->
<!--                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>-->
<!--                </form>-->
            </div>
        </nav>


</html>